.*
!.gitignore
!.travis.yml
!.github
target/
target-ide/
*.iml
logs/
*.releaseBackup
*.versionsBackup
.vscode/
.settings/
.project

# Created by './scripts/run_etcd.sh'
/external/
bin/
/jetcd-all/dependency-reduced-pom.xml
