<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JEtcDSuite" parallel="instances" thread-count="1">
  <test name="All">
    <classes>
      <class name="com.coreos.jetcd.EtcDAuthClientTest" />
      <class name="com.coreos.jetcd.MaintenanceTest" />
      <class name="com.coreos.jetcd.EtcdKVTest" />
      <class name="com.coreos.jetcd.EtcDClusterClientTest" />
    </classes>
  </test>
</suite>